extends layout

block content
  h1.
    #{title}
  form#formLogin(name="login",method="post",action="/login")
    p E-mail:
      input#inputEmail(type="text", placeholder="Enter your e-mail", name="email")
    p Password:
      input#inputPassword(type="password", placeholder="Enter your password" name="password")
    p
      button#btnSubmit(type="submit") Login