extends layout

block content
  h1.
    #{title}
  form#formLogin(name="login",method="post",action="/register")
    p E-mail:
      input#inputEmail(type="text", placeholder="Enter your e-mail", name="email")
    p Password:
      input#inputPassword(type="password", placeholder="Enter your password", name="password")
    p Name:
      input#inputIme(type="text", name="name")
    p
      button#btnSubmit(type="submit") Register