extends ../layout

block content
	h1.
		Project ID #{blob._id}
	form(action='/projects/#{blob._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
		p Project name:
			input#inputProjectName(type='text', value='#{blob.pr_name}', name='pr_name')
		p Opis::
			input#inputDescription(type='text', value='#{blob.pr_description}', name='pr_description')
		p Price:
			input#inputPrice(type='number', value='#{blob.price}', name='price')


		p Current members:
			input#inputMembers(type='text', value='#{blob.members}', name='members', disabled=true)

		p Members:
			select(multiple, name="members")
				each item in users
					option(value='#{item.name}')=item.name

		p Start date:
			input#inputStartDate(type='date', name='startDate', value='#{blob.startDate}')
		P End date:
			input#inputEndDate(type='date', name='endDate', value='#{blob.endDate}')
		P Obavljeni Poslovi:
			input#inputWorkDone(type='checkbox', name='workDone', checked=('#{blob.workDone}'==='true' ? "checked" : undefined))
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update