extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/projects")
		p Project name:
			input#inputName(type="text", placeholder="Project name", name="pr_name")
		p Description:
			input#inputBadge(type="text", placeholder="Description", name="pr_description")
		p Price:
			input#inputDob(type="number", name="price")
		p Start date:
			input#inputstartDate(type='date', name='startDate' )
		P End date:
			input#inputendDate(type='date', name='endDate')
		p Work done?:
			input#inputIsLoved(type="checkbox", name="workDone")

		p Members:
			select(multiple, name="members")
				each item in users
					option(value='#{item.name}')=item.name


		p
			button#btnSubmit(type="submit") Submit