extends ../layout

block content
    h1.
        Project ID: #{blob._id}
    p Project name: #{blob.pr_name}
    p Description: #{blob.pr_description}
    p Price: #{blob.price}
    p Members: #{blob.members}
    p Start date: #{blob.startDate}
    p End date: #{blob.endDate}
    p Work done: #{blob.workDone}