extends ../layout

block content
    h1.
         #{title}
    ul
        - each blob, i in projects
            li    Project name: #{blob.pr_name}
            li    Description: #{blob.pr_description}
            li    Price: #{blob.price}
            li    Datum Pocetka: #{blob.startDate}
            li    End date: #{blob.endDate}
            li    members: #{blob.members}
            li    Work done: #{blob.workDone}
            li    Id: #{blob._id}
                form(action='/projects/#{blob._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/projects/#{blob._id}/edit') Edit |
                    a(href='/projects/#{blob._id}') Show

